title = "In-Transit and Distribution Solutions"
url = "/solutions/in-transit-and-distribution-solutions"
layout = "default"

[viewBag]
localeUrl[ru] = 'resheniya/transportirovka-distibutsiya'
localeUrl[az] = '/heller/neqliyyat-paylama'
localeTitle[ru] = 'Транспортировка и доставка'
localeTitle[az] = 'Nəqliyyat və paylama'
==
<div class="row-fluid">
    <main id="content" role="main" class="span12">
        <!-- Begin Content -->

        <div id="system-message-container">
        </div>

        <div class="item-page wide-article" itemscope itemtype="https://schema.org/Article">
            <meta itemprop="inLanguage" content="en-GB" />
            <div class="icons">
                <div class="btn-group pull-right">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton-139"
                        aria-label="User tools" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="icon-cog" aria-hidden="true"></span>
                        <span class="caret" aria-hidden="true"></span>
                    </button>

                </div>

            </div>

            <div itemprop="articleBody">
                <div class="imageMap  uk-animation-fade uk-animation-5">

                    <div class="intro-message">
                        <div>
                            {% content 'in-transit-and-distribution-solutions' %}
                        </div>
                    </div><!-- end Intro -->

                    <div class="hotspots">
                        {% for solution in solutions %}
                        {% if solution.type == 'fifth' %}
                         <div class="sticker    solution-icon"><a
                                href="{{ 'solutions/solution-detailed' | page({id: solution.id}) }}"><img
                                    src="{{ solution.icon | media }}"
                                    alt="" />
                                <p>{{ solution.title }}</p>
                            </a></div>
                            {% endif %}
                        {% endfor %}
                    </div><!-- end Hotspots -->

                </div><!-- end imageMap -->
            </div>

        </div>
        <div class="clearfix"></div>

        <!-- End Content -->
    </main>
</div>