<ul class="nav menu bottom mod-list justify-content-center" style="border-bottom: 2px solid #ddd;">
<li class="item-164 current active"><a href="{{ 'resources/videos' | page }}" class="dt-icon-television">{{ 'Videos' |_ }}</a></li>
<li class="item-274"><a href="{{ 'resources/white-papers' | page }}" class="dt-icon-file-o">{{ "White Papers" |_ }}</a></li>
<li class="item-275"><a href="{{ 'resources/solution-briefs' | page }}" class="dt-icon-file-text-o">{{ "Solution Briefs" |_ }}</a></li>
<li class="item-276"><a href="{{ 'resources/software-system-overview' | page }}" class="dt-icon-floppy-o"> {{ "Software/Systems Overview" |_ }}</a></li></ul>