<ul class="nav menu bottom mod-list justify-content-center" style="border-bottom: 2px solid #ddd;">
    <li class="item-167"><a href="{{'services/validation' | page}}" class="dt-icon-check-circle"
            style="outline-width: 0px !important; user-select: auto !important;">{{ 'Validation and Qualification' |_}}</a></li>
    <li class="item-423 current active"><a href="{{'services/calibration-services' | page }}" class="fa-cog">{{'Calibration
            Services' |_}}</a></li>
    <li class="item-169"><a href="{{'services/17025-calibration-services' | page }}" class="dt-icon-cogs">{{'17025 Calibration
            Services'|_}}</a></li>
    <li class="item-354"><a href="{{'services/gogreen' | page }}" class="dt-icon-recycle">{{'GoGreen Recycling Program'|_}}</a></li>
</ul>