<ul class="nav menu bottom mod-list justify-content-center" style="border-bottom: 2px solid #ddd;">
 
<li class="item-166 current active" style="width:fit-content;"><a href="{{ 'support/technical-support' | page}}" class="dt-icon-briefcase">{{ "Technical Support" |_ }}
</a></li> 
<li class="item-170" style="width:fit-content;"><a href="{{ 'support/warranty' | page }}" class="dt-icon-shield">{{ 'Warranty' |_ }}</a></li>
<li class="item-171"  style="width:fit-content;"><a href="{{ 'support/software-drivers' | page }}" class="dt-icon-software">{{ "Software and Drivers" |_ }}</a></li>
</ul>