<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
    <a itemprop="item" href="../index.html%3FrCH=2.html" class="pathway"><span
            itemprop="name">{{ 'Home'|_ }}</span></a>

    <span class="divider">
        <img src="../media/system/images/arrow.png" alt="" /> </span>
    <meta itemprop="position" content="1">
</li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
    <span itemprop="name">
        {{'Support'|_}} </span>

    <span class="divider">
        <img src="../media/system/images/arrow.png" alt="" /> </span>
    <meta itemprop="position" content="2">
</li>
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="active">
    <span itemprop="name">
        {{ this.page.title }} </span>
    <meta itemprop="position" content="3">
</li>