url = "/solution/:id?"
layout = "default"
title = "Solution"
is_hidden = 0

[viewBag]
localeUrl[ru] = "resheniya/:id?"
localeUrl[az] = "/heller/:id?"
localeTitle[ru] = "Решение"
localeTitle[az] = "Həll"

[solutions]
==
<?php
use Gadimliestudio\Solutions\Models\Solution;
public function onStart() {
    $solution = Solution::find($this->param('id'));
    $this->page->title = $solution->title;
    $this['solution'] = $solution;
}
?>
==
<style>
@media(min-width: 576px)
{
    .mod-title-wrap{
    margin-top: 106px;}
}
@media(max-width: 960px){
   .mod-title-wrap{
       margin-top: 69px;
   }
}
</style>
<div itemprop="articleBody">
    <div id="top" class="green full-modal full-page">
        <div class="solution-inner">

            <div class="head">
                <div class="sticker"><img
                            src="{{ solution.icon | media }}"
                            alt=""></div>
                <h1>{{ solution.title }} 
</h1>
                <ul class="spy-nav"
                    data-uk-scrollspy-nav="{closest:'li', smoothscroll:true, topoffset:-400}">
                    <li class="top uk-active"><a href="#top-spacer"></a></li>
                    <li class=""><a href="#problem-1">{{'Problem'|_}}</a></li>
                    <li class=""><a href="#current-1">{{'Currently'|_}}</a></li>
                    <li class=""><a href="#solution-1">{{'Solutions'|_}}</a></li>
                    <li class="exit"><a href="
                        {% if solution.type == 'first-first' %}{{ 'solutions/food-solutions/produce-floral/main' | page }}
                        {% elseif solution.type == 'first-second' %}{{ 'solutions/food-solutions/meat/main' | page }}
                        {% endif %}
                        {% if solution.type == 'first-third' %}{{ 'solutions/food-solutions/poultry/main' | page }}
                        {% elseif solution.type == 'first-fourth' %}{{ 'solutions/food-solutions/dairy/main' | page }}
                        {% endif %}
                        {% if solution.type == 'first-fivth' %}{{ 'solutions/food-solutions/seafood/main' | page }}
                        {% elseif solution.type == 'second' %}{{ 'solutions/life-science-solutions/main' | page }}
                        {% endif %}
                        {% if solution.type == 'third' %}{{ 'solutions/food-safety-solutions/main' | page }}
                        {% elseif solution.type == 'fourth' %}{{ 'solutions/aerospace-industrial-solutions/main' | page }}
                        {% endif %}
                        {% if solution.type == 'fifth' %}{{ 'solutions/in-transit-distribution-solutions/main' | page }}
                        {% endif %}" class="close bg-white"
                            title="">{{'BACK'|_}}</a></li>
                </ul>
            </div>

            <!--  -------------  Page Title Banner ----------------  -->
            <div id="top-spacer"></div>
            <div>
                <div class="moduletable mod-page-title">
                    <div class="mod-title-wrap" style="background-image: url({{ solution.banner_image | media }}); height: 40vh;">
                        <h1 class="mod-title-heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 
  {{ solution.title }}</font></font></h1>
                        {{ solution.banner_text | raw }}
                    </div>

                </div>
            </div>
            <ul class="scroller spy-nav"
                data-uk-scrollspy-nav="{closest:'li', smoothscroll:true, topoffset:-400}">
                <li><a href="#problem-1"></a></li>
            </ul>


            <!--  -------------  PROBLEM ----------------  -->
            <div id="problem-1" class="scroll-anchor"></div>
            <section id="problem">
                <div class="dt-width-1-2 dt-width-sm-1-1 pull-right text-150"
                    data-uk-scrollspy="{cls:'uk-animation-slide-right', delay:400}"
                    style="order: 2;">
                    {{ solution.problem_text | raw }}
                </div>
                <div class="dt-width-1-2 dt-width-sm-1-1 float-center-sm"
                    data-uk-scrollspy="{cls:'uk-animation-slide-left', delay:500}">
                    <img class="border-x"
                        src="{{ solution.problem_image | media }}"
                        alt="" />
                </div>
            </section>
            <!--  -------------  END PROBLEM ----------------  -->

            <!--  -------------  CURRENT ----------------  -->
            <div id="current-1" class="scroll-anchor"></div>
            <section id="current" class="tint eee">
                <div class="dt-width-1-2 dt-width-sm-1-1 text-140"
                    data-uk-scrollspy="{cls:'uk-animation-slide-left', delay:500}">
                    {{ solution.currently_text | raw }}

                </div>
                <div class="dt-width-1-2 dt-width-sm-1-1 float-center-sm"
                    data-uk-scrollspy="{cls:'uk-animation-slide-right', delay:400}">
                    <img class="border-x"
                        src="{{ solution.currently_image | media }}"
                        alt="cut to cool first in, first out" />
                </div>
            </section>
            <!--  -------------  END CURRENT ----------------  -->
           
									<!--  -------------  SOLUTION ----------------  -->
									<div id="solution-1" class="scroll-anchor"></div>
									<section id="solution" class="exit">
										<div>
											<div class="text-130"
												data-uk-scrollspy="{cls:'uk-animation-slide-bottom', delay:400}">
                                                {{ solution.product_about_text | raw }}
											</div>
											<div class="solution-exit-nav">
												<!-- NAV TO PRODUCTS-->
												<h5>{{ 'Selected DeltaTrak Cooking Solutions' |_ }}</h5>
												<p class="link-3">
                                                    {% for selected in solution.selected %}
                                                    <a href="{{ selected.link }}"><span>{{ selected.title }}</span><img
                                                        src="{{ selected.image | media }}"
                                                        alt="" /></a>
                                                    {% endfor %}
												</p>
											</div>
										</div>
									</section>
									<!--  -------------  END SOLUTION ----------------  -->





        </div>


    </div>
    <div class="clearfix"></div>

</div>