title = ""
url = "/products/:id?"
layout = "default"
is_hidden = 0


[viewBag]

==
use Gadimliestudio\Products\Models\Product;
public function onStart() {
    $product = Product::find($this->param('id'));
    $this->page->title = $product->title;
    $this['product'] = $product;
}
==
<style>
    .prod-intro li {
        line-height: 1.25em;
        padding-bottom: 0.5em;
    }
    .product-layout {
        padding-right: 3rem;
        padding-left: 3rem;
    }
</style>
<div class="container-fluid pt-0">
    <div class="moduletable breadcrumb">
        <div aria-label="Breadcrumbs" role="navigation">
            <ul itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb breadcrumb">
                <li class="active">
                    <span class="divider icon-location"></span>
                </li>

                {% if product.status_type == 'first-first' %}
                {% partial 'breadcrumbs/products/thermometers' %}
                {% elseif product.status_type == 'first-second' %}
                {% partial 'breadcrumbs/products/thermometers' %}
                {% endif %}

                {% if product.status_type == 'first-third' %}
                {% partial 'breadcrumbs/products/thermometers' %}
                {% elseif product.status_type == 'first-fourth' %}
                {% partial 'breadcrumbs/products/thermometers' %}
                {% endif %}

                {% if product.status_type == 'first-fifth' %}
                {% partial 'breadcrumbs/products/thermometers' %}
                {% elseif product.status_type == 'first-sixth' %}
                {% partial 'breadcrumbs/products/thermometers' %}
                {% endif %}

                {% if product.status_type == 'first-seventh' %}
                {% partial 'breadcrumbs/products/thermometers' %}
                {% elseif product.status_type == 'second-first' %}
                {% partial 'breadcrumbs/products/chart-recorders' %}
                {% endif %}


                {% if product.status_type == 'second-second' %}
                {% partial 'breadcrumbs/products/chart-recorders' %}
                {% elseif product.status_type == 'second-third' %}
                {% partial 'breadcrumbs/products/chart-recorders' %}
                {% endif %}

                {% if product.status_type == 'second-fourth' %}
                {% partial 'breadcrumbs/products/chart-recorders' %}
                {% elseif product.status_type == 'third-first' %}
                {% partial 'breadcrumbs/products/data-loggers' %}
                {% endif %}

                {% if product.status_type == 'third-second' %}
                {% partial 'breadcrumbs/products/data-loggers' %}
                {% elseif product.status_type == 'third-third' %}
                {% partial 'breadcrumbs/products/data-loggers' %}
                {% endif %}

                {% if product.status_type == 'third-fourth' %}
                {% partial 'breadcrumbs/products/data-loggers' %}
                {% elseif product.status_type == 'third-fifth' %}
                {% partial 'breadcrumbs/products/data-loggers' %}
                {% endif %}

                {% if product.status_type == 'third-sixth' %}
                {% partial 'breadcrumbs/products/data-loggers' %}
                {% elseif product.status_type == 'third-seventh' %}
                {% partial 'breadcrumbs/products/data-loggerss' %}
                {% endif %}

                {% if product.status_type == 'third-eighth' %}
                {% partial 'breadcrumbs/products/data-loggers' %}
                {% elseif product.status_type == 'third-ninth' %}
                {% partial 'breadcrumbs/products/data-loggers' %}
                {% endif %}

                {% if product.status_type == 'third-tenth' %}
                {% partial 'breadcrumbs/products/data-loggers' %}
                {% elseif product.status_type == 'fourth-first' %}
                {% partial 'breadcrumbs/products/time-temperature-indicators' %}
                {% endif %}



                {% if product.status_type == 'fourth-second' %}
                {% partial 'breadcrumbs/products/time-temperature-indicators' %}
                {% elseif product.status_type == 'fifth-first' %}
                {% partial 'breadcrumbs/products/vaccine-monitoring' %}
                {% endif %}

                {% if product.status_type == 'fifth-second' %}
                {% partial 'breadcrumbs/products/vaccine-monitoring' %}
                {% elseif product.status_type == 'fifth-third' %}
                {% partial 'breadcrumbs/products/vaccine-monitoring' %}
                {% endif %}

                {% if product.status_type == 'fifth-fourth' %}
                {% partial 'breadcrumbs/products/vaccine-monitoring' %}
                {% elseif product.status_type == 'fifth-fifth' %}
                {% partial 'breadcrumbs/products/vaccine-monitoring' %}
                {% endif %}

                {% if product.status_type == 'fifth-sixth' %}
                {% partial 'breadcrumbs/products/vaccine-monitoring' %}
                {% elseif product.status_type == 'sixth-first' %}
                {% partial 'breadcrumbs/products/rf-wireless-monitoring' %}
                {% endif %}

                {% if product.status_type == 'sixth-second' %}
                {% partial 'breadcrumbs/products/rf-wireless-monitoring' %}
                {% elseif product.status_type == 'seventh-first' %}
                {% partial 'breadcrumbs/products/thermal-labels' %}
                {% endif %}

                {% if product.status_type == 'seventh-second' %}
                {% partial 'breadcrumbs/products/thermal-labels' %}
                {% elseif product.status_type == 'seventh-third' %}
                {% partial 'breadcrumbs/products/thermal-labels' %}
                {% endif %}

                {% if product.status_type == 'seventh-fourth' %}
                {% partial 'breadcrumbs/products/thermal-labels' %}
                {% elseif product.status_type == 'eitghth-first' %}
            
                {% partial 'breadcrumbs/products/shelf-life-quality-tools' %}
                {% endif %}

                {% if product.status_type == 'eitghth-second' %}
                {% partial 'breadcrumbs/products/shelf-life-quality-tools' %}
                {% elseif product.status_type == 'eitghth-third' %}
                {% partial 'breadcrumbs/products/shelf-life-quality-tools' %}
                {% endif %}

                {% if product.status_type == 'eitghth-fourth' %}
                {% partial 'breadcrumbs/products/shelf-life-quality-tools' %}
                {% elseif product.status_type == 'eitghth-fifth' %}
                {% partial 'breadcrumbs/products/shelf-life-quality-tools' %}
                {% endif %}

                {% if product.status_type == 'ninth-first' %}
                {% partial 'breadcrumbs/products/haccp-food-quality-tools' %}
                {% elseif product.status_type == 'ninth-second' %}
                {% partial 'breadcrumbs/products/haccp-food-quality-tools' %}
                {% endif %}

                {% if product.status_type == 'ninth-third' %}
                {% partial 'breadcrumbs/products/haccp-food-quality-tools' %}
                {% elseif product.status_type == 'tenth-first' %}
                {% partial 'breadcrumbs/products/software-solutions' %}
                {% endif %}

                {% if product.status_type == 'tenth-second' %}
                {% partial 'breadcrumbs/products/software-solutions' %}
                {% endif %}


                
            </ul>
        </div>
    </div>
    <div class="product-layout item-page " itemscope itemtype="https://schema.org/Product">
        <meta itemprop="inLanguage" content="en-GB" />

        <div class="product-delta">

            <h1 class="prod-title mt-3 mb-3"><span itemprop="name">{{ product.title }}</span></h1>
            
            <div class="prod-top">
                <div class="prod-right">
                    <div class="prod-image" itemprop="image"><a
                            href="{{ product.product_image | media }}"
                            data-uk-lightbox> <img
                                src="{{ product.product_image | media }}"
                                alt="" /></a>
                    </div>
                    <div class="prod-order"><a class="button order"
                            data-uk-modal="{target:'#order'}">{{'Order'|_}}</a>
                        <div id="order" class="uk-modal">
                            <div class="uk-modal-dialog uk-panel-box uk-panel-box-delta">
                                <iframe class="order"
                                    src="https://analytics.clickdimensions.com/deltatrakcom-a3kza/pages/kanlmkgeeibcahg3kn0q.html?Name=FlashCheck Lollipop Waterproof Min/Max Digital Thermometer with 105mm Probe&Model=11036"></iframe>
                            </div>
                        </div>
                    </div>

                </div><!-- End Prod-Right -->

                <div class="prod-left">

                    <div class="prod-intro">
                        <p>{{ product.short_info }}</p>
                        {% if product.key_features2 %}
                        Key features:
                            {{ product.key_features2 | raw }}
                        {% endif %}
                    </div>
                    {% if product.applications %}
                        <div class="prod-app"><b>{{'Applications'|_}}:</b> {{ product.applications | raw }}</div>
                    {% endif %}
                </div><!-- End Prod-Left -->

            </div><!-- End Prod-Top -->

            <div class="prod-bottom">

                <div class="prod-desc" itemprop="description">
                    <p>{{ product.info | raw }}</p>
                </div>

                <div class="prod-tabs">
                    <!-- START: Tabs -->
                    <div class="rl_tabs nn_tabs outline_handles outline_content top align_left"
                        role="presentation">
                        <!--googleoff: index-->
                        <a id="rl_tabs-scrollto_1" class="anchor rl_tabs-scroll nn_tabs-scroll"></a>
                        <ul class="nav nav-tabs" id="set-rl_tabs-1" role="tablist" style="margin-bottom: 0;">
                            {% if product.models %}

                            <li class="rl_tabs-tab nn_tabs-tab nav-item active"><a
                                href="#models" title="{{'Models'|_}}"
                                class="rl_tabs-toggle nn_tabs-toggle nav-link"
                                id="tab-models" data-toggle="tab" data-id="models"
                                role="tab" aria-controls="models" aria-selected="true"><span
                                    class="rl_tabs-toggle-inner nn_tabs-toggle-inner">{{'Models'|_}}</span></a>
                            </li>
                            {% endif %}

                            {% if product.specifications2 %}
                            <li class="rl_tabs-tab nn_tabs-tab nav-item "><a
                                    href="#specifications" title="{{'Specifications'|_}}"
                                    class="rl_tabs-toggle nn_tabs-toggle nav-link"
                                    id="tab-specifications" data-toggle="tab" data-id="specifications"
                                    role="tab" aria-controls="specifications" aria-selected="true"><span
                                        class="rl_tabs-toggle-inner nn_tabs-toggle-inner">{{'Specifications'|_}}</span></a>
                            </li>
                            {% endif %}
                            {% if product.userguide_file %}

                            <li class="rl_tabs-tab nn_tabs-tab nav-item "><a
                                href="#user-guide" title="{{'Modeuser-guidels'|_}}"
                                class="rl_tabs-toggle nn_tabs-toggle nav-link"
                                id="tab-user-guide" data-toggle="tab" data-id="user-guide"
                                role="tab" aria-controls="user-guide" aria-selected="true"><span
                                    class="rl_tabs-toggle-inner nn_tabs-toggle-inner">{{'User guide'|_}}</span></a>
                            </li>
                            {% endif %}
                            {% if product.accessories %}

                            <li class="rl_tabs-tab nn_tabs-tab nav-item"><a                                                                  href="#literature"
                                    title="{{'Accesories'|_}}" class="rl_tabs-toggle nn_tabs-toggle nav-link"
                                    id="tab-accessories" data-toggle="tab" data-id="accessories"
                                    role="tab" aria-controls="accessories" aria-selected="false"><span
                                        class="rl_tabs-toggle-inner nn_tabs-toggle-inner">{{'Accesories'|_}}</span></a>
                            </li>
                            {% endif %}
                            {% if product.videos %}
                            <li class="rl_tabs-tab nn_tabs-tab nav-item"><a href="#videos"
                                title="{{'Videos'|_}}" class="rl_tabs-toggle nn_tabs-toggle nav-link"
                                id="tab-videos" data-toggle="tab" data-id="literature"
                                role="tab" aria-controls="literature" aria-selected="false"><span
                                    class="rl_tabs-toggle-inner nn_tabs-toggle-inner">{{'Videos'|_}}</span></a>
                            </li>
                            {% endif %}

                        </ul>
                        <!--googleon: index-->
                        <div class="tab-content" style="border: 1px solid #ddd;border-top: none;overflow: hidden">

                            <div class="tab-pane rl_tabs-pane nn_tabs-pane active" id="models"
                            role="tabpanel" aria-labelledby="tab-models"
                            aria-hidden="false" style="padding: 12px;">
                                <h2 class="rl_tabs-title nn_tabs-title">
                                    <a id="anchor-models" class="anchor"></a>
                                    {{'Models'|_}}
                                </h2>
                                {{ product.models | raw }}

                            </div>

                            <div class="tab-pane rl_tabs-pane nn_tabs-pane" id="specifications"
                            role="tabpanel" aria-labelledby="tab-specifications"
                            aria-hidden="false" style="padding: 12px;">
                                <h2 class="rl_tabs-title nn_tabs-title">
                                    <a id="anchor-specifications" class="anchor"></a>
                                    {{'Specifications'|_}}
                                </h2>
                                {{ product.specifications2 | raw }}

                            </div>
                            
                            <div class="tab-pane rl_tabs-pane nn_tabs-pane" id="user-guide"
                                role="tabpanel" aria-labelledby="tab-user-guide" aria-hidden="true" style="padding: 12px;">
                                    <h2 class="rl_tabs-title nn_tabs-title"><a id="anchor-user-guide" class="anchor"></a>{{ 'User guide' |_ }}</h2>
                                    <a class="ui-btn" href="{{ product.user_guide | media }}" title="User Instructions" download>{{'User Instructions'|_}}</a>
                            </div>


                            <div class="tab-pane rl_tabs-pane nn_tabs-pane" id="literature"
                                role="tabpanel" aria-labelledby="tab-literature" aria-hidden="true" style="padding: 12px;">
                                <h2 class="rl_tabs-title nn_tabs-title"><a id="anchor-accessories" class="anchor"></a>{{'Accessories'|_}}
                                </h2>
                                {% for accessory in product.accessories %}
                                <div class="moduletable">
                                    <h3>{{ accessory.title }}</h3>
            
            
                                    <div class="custom">
                                        <div class="dt-width-1-2 dt-width-sm-1-1">
                                            {{ accessory.about | raw }}
                                        </div>
            
                                        <div class="dt-width-1-2  dt-width-sm-1-1 text-center">
                                            <img src="{{ accessory.image | media }}" alt="">
                                        </div>
                                    </div>
                                </div>
            
                                {% endfor %}

                            </div>
                            
                            <div class="tab-pane rl_tabs-pane nn_tabs-pane" id="literature"
                                role="tabpanel" aria-labelledby="tab-literature" aria-hidden="true" style="padding: 12px;">
                                <h2 class="rl_tabs-title nn_tabs-title">
                                    <a id="anchor-literature" class="anchor"></a>
                                    {{'Literature'|_}}
                                </h2><a href="{{ product.literature_file | media }}"
                                    target="_blank"> <img
                                        src="{{ product.literature_image | media }}"
                                        alt="" />
                                    <br />{{'Download'|_}} {{ product.title }}</a>
                            </div>


                            <div class="tab-pane rl_tabs-pane nn_tabs-pane" id="videos"
                                role="tabpanel" aria-labelledby="tab-videos" aria-hidden="true" style="padding: 12px;">
                                <h2 class="rl_tabs-title nn_tabs-title">
                                    <a id="anchor-videos" class="anchor"></a>
                                    {{'Video'|_}}
                                </h2>
                                <div class="row">
                                    {% for video in product.videos %}
                                    <div class="vimeo thumbs text-center col-md-6 p-5">
                                            <a href="{{ video.link }}" class="modal_link"
                                                data-modal-class-name="vimeo is_video no_title" data-modal-video="true"
                                                data-modal-iframe="true" data-modal-inner-width="1200"
                                                data-modal-inner-height="680"><img
                                                    src="{{ video.preview_image | media }}"></a>
                                            {{ video.title }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>


            
                            </div>

                    </div><!-- END: Tabs -->

                </div><!-- End Prod-Tabs -->

            </div><!-- End Prod-Bottom -->

        </div><!-- End Product Delta -->

        <!-- Main article text disabled -->

    </div><!-- End Product Layout -->
</div>