title = "Events Calendar"
url = "/about/events-calendar"
layout = "default"

[viewBag]
localeUrl[ru] = "/kalendar-sobitiy"
localeUrl[az] = "/tebirler-kalendari"
localeTitle[ru] = "Календарь событий"
localeTitle[az] = "Tədbirlər kalendarı"
==

<div class="container-fluid pt-0">
    <div class="moduletable mod-page-title narrow">

        <div class="mod-title-wrap">
            <H1 class="mod-title-heading">
                {{'Events Calendar'|_}}</H1>

            <p>{{'Visit us at our upcoming shows and events'|_}}</p>
        </div>
    </div>
    <div class="moduletable breadcrumb">
        <div aria-label="Breadcrumbs" role="navigation">
            <ul itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb breadcrumb">
                <li class="active">
                    <span class="divider icon-location"></span>
                </li>

                {% partial 'breadcrumbs/about-breadcrumb' %}
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <main id="content" role="main" class="span12">
            <!-- Begin Content -->

            <div id="system-message-container">
            </div>

            <div class="item-page" itemscope itemtype="https://schema.org/Article">
                <meta itemprop="inLanguage" content="en-GB" />


                <div class="icons">

                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton-10"
                            aria-label="User tools" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="icon-cog" aria-hidden="true"></span>
                            <span class="caret" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-10">
                            <li class="print-icon"> <a
                                    href="events-calendar%3Ftmpl=component&amp;print=1&amp;layout=default.html"
                                    title="Print article < Events Calendar >"
                                    onclick="window.open(this.href,'win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no'); return false;"
                                    rel="nofollow"> <span class="icon-print" aria-hidden="true"></span>
                                    Print </a> </li>
                        </ul>
                    </div>

                </div> 


<div itemprop="articleBody">
    {% for event in company.event %}
    {% if now |date('U') < event.start_date |date('U') %}
    <h1 class="wide eee text-center">{{ loop.index }}{{'Upcoming Events'|_}}</h1>
    {% endif %}
    {% if now |date('U') < event.start_date |date('U') %}

    <div class="event">
        <div data-uk-scrollspy="{cls:'uk-animation-slide-left', delay:100}"><img
                src="{{ event.image | media }}" alt="" />
        </div>
        <p data-uk-scrollspy="{cls:'uk-animation-fade', delay:400}"><strong>{{ event.title }}<br /><sup></sup><br /> {{ event.start_date | date('M') }}&nbsp;{{ event.start_date | date('d') }}-{{ event.finish_date | date('d') }}
            {{ event.start_date | date('Y') }}</strong><br />
                {{ event.address }}
        </p>
    </div>
    {% endif %}

    {% endfor %} 
    
    <h3>Divideeer</h3>

    {% for event in company.event %}
    {% if now |date('U') > event.start_date |date('U') and loop.first  %}
    <h1 class="wide eee text-center">{{'Recent Events'|_}}</h1>
    {% endif %}
    {% if now |date('U') > event.start_date |date('U') %}

    <div class="event">
        <div data-uk-scrollspy="{cls:'uk-animation-slide-left', delay:100}"><img
                src="{{ event.image | media }}" alt="" />
        </div>
        <p data-uk-scrollspy="{cls:'uk-animation-fade', delay:400}"><strong>{{ event.title }}<br /><sup></sup><br /> {{ event.start_date | date('M') }}&nbsp;{{ event.start_date | date('d') }}-{{ event.finish_date | date('d') }}
            {{ event.start_date | date('Y') }}</strong><br />
                {{ event.address }}
        </p>
    </div>
    {% endif %}

    {% endfor %}                                


</div>
            </div>
            <div class="clearfix"></div>

            <!-- End Content -->
        </main>
    </div>
</div>
{% partial 'about-navigation' %}
{% partial 'testimonials' %}