url = "/about/partners"
layout = "default"
title = "Partners"

[viewBag]
localeUrl[ru] = "/partneri"
localeUrl[az] = "/partnyorlar"
localeTitle[ru] = "Партнёры"
localeTitle[az] = "Partnyorlar"
==
<div class="container-fluid pt-0">
    <div class="moduletable mod-page-title narrow" style="background-color:#0099A8;">

        <div class="mod-title-wrap">
            <H1 class="mod-title-heading">
                {{'Partners' |_}}</H1>

            <p>{{'Meet our affiliates around the globe' |_}}</p>
        </div>


    </div>
    <div class="moduletable breadcrumb">
        <div aria-label="Breadcrumbs" role="navigation">
            <ul itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb breadcrumb">
                <li class="active">
                    <span class="divider icon-location"></span>
                </li>

                {% partial 'breadcrumbs/about-breadcrumb' %}
            </ul>
        </div>
    </div>

    <div class="row-fluid mt-5">
        <main id="content" role="main" class="span12">
            <!-- Begin Content -->

            <div id="system-message-container">
            </div>

            <div class="item-page" itemscope itemtype="https://schema.org/Article">
                <meta itemprop="inLanguage" content="en-GB" />

                <div class="icons">

                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton-11"
                            aria-label="User tools" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="icon-cog" aria-hidden="true"></span>
                            <span class="caret" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-11">
                            <li class="print-icon"> <a
                                    href="partners%3Ftmpl=component&amp;print=1&amp;layout=default.html"
                                    title="Print article < Partners >"
                                    onclick="window.open(this.href,'win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no'); return false;"
                                    rel="nofollow"> <span class="icon-print" aria-hidden="true"></span>
                                    Print </a> </li>
                        </ul>
                    </div>

                </div>

                <div itemprop="articleBody mt-5">
                    {% for partner in company.partners %}
                    <div class="dt-width-4-10 dt-width-md-1-2 dt-width-sm-1-1" style="padding: 0 10px 30px 0;">
                        <h4>{{ partner.name }}</h4>
                        <p>{{ partner.address }}<br />
                             {{ partner.phone }}<br />
                             {{ partner.fax }}<br />
                            Email: {% for email in partner.email %}
                                    <a href="mailto:{{ email.email }}">{{ email.email }}</a>
                                    {% endfor %}
                            <br />
                            <a href="{{ partner.partners_site }}" target="_blank">{{ company.partners_site }}</a>
                        </p>
                    </div>

                    {% endfor %}
                </div>


            </div>
            <div class="clearfix"></div>

            <!-- End Content -->
        </main>
    </div>
</div>
{% partial 'about-navigation' %}
{% partial 'testimonials' %}