title = "Dairy Cold Chain Solutions"
url = "/solutions/food-solutions/dairy"
layout = "default"


localeUrl[ru] = 'resheniya/produkti-pitaniya/molochnoye-xozyaystvo'
localeUrl[az] = 'həllər/qida-mehsullari/sud-teserrufet'
localeTitle[ru] = 'Молочное хозяйство'
localeTitle[az] = 'Süd Təsərrüfəti'
==
<div class="row-fluid">
    <main id="content" role="main" class="span12">
        <!-- Begin Content -->

        <div id="system-message-container">
        </div>

        <div class="item-page wide-article" itemscope itemtype="https://schema.org/Article">
            <meta itemprop="inLanguage" content="en-GB" />
            <div class="icons">
                <div class="btn-group pull-right">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton-139"
                        aria-label="User tools" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="icon-cog" aria-hidden="true"></span>
                        <span class="caret" aria-hidden="true"></span>
                    </button>

                </div>

            </div>

            <div itemprop="articleBody">
                <div class="imageMap  uk-animation-fade uk-animation-5">

                    <div class="intro-message">
                        <div>
                            {% content 'dairy' %}
                        </div>
                    </div><!-- end Intro -->

                    <div class="hotspots">
                        {% for solution in solutions %}
                        {% if solution.type == 'first-fourth' %}
                        <div class="sticker pos-{{ loop.index }}-{{ loop.length }} {% if loop.first %}green {% elseif loop.index == 2 %}blue {% elseif loop.index == 3 %}teal{% elseif loop.index == 4 %}yellow{% elseif loop.index == 5 %}red{% elseif loop.index == 6 %}orange{% elseif loop.index == 7 %}teal{% endif %}  "><a
                                href="{{ 'solutions/solution-detailed' | page({id: solution.id}) }}"><img
                                    src="{{ solution.icon | media }}"
                                    alt="" />
                                <p>{{ solution.title }}</p>
                            </a></div>
                            {% endif %}
                        {% endfor %}
                    </div><!-- end Hotspots -->

                </div><!-- end imageMap -->
            </div>

        </div>
        <div class="clearfix"></div>

        <!-- End Content -->
    </main>
</div>