title = 'Thermo-Hygrometers'
layout = 'default'
url= '/products/thermometers/thermo-hygrometers'

[products]

[viewBag]
localeUrl[ru] = 'produkti/termometri/termogigrometri'
localeUrl[az] = 'məhsullar/termometrlər/termohiqrometrlər'
localeTitle[ru] = 'Термогигрометры'
localeTitle[az] = 'Termohiqrometrlər'
==
<div class="container-fluid pt-0">
    <div class="moduletable mod-page-title narrow">
        <div class="mod-title-wrap">
            <H1 class="mod-title-heading">
                {{ this.page.title }}</H1>
        </div>
    </div>
    <div class="moduletable breadcrumb">
        <div aria-label="Breadcrumbs" role="navigation">
            <ul itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb breadcrumb">
                <li class="active">
                    <span class="divider icon-location"></span>
                </li>
                {% partial 'breadcrumbs/products/thermometers' %}

            </ul>
        </div>
    </div>

    <div class="row-fluid mt-5">
        <main id="content" role="main" class="span12">
            <!-- Begin Content -->
            <div id="system-message-container">
            </div>
            <!--<h3 style="color: red;">This is the custom Blog layout</h3>-->
            <div class="delta-products blog" itemscope itemtype="https://schema.org/Blog">
                <div class="prod-row items-row cols-3 row-0 row-fluid clearfix">
                    {% for product in products %}
                        {% if product.status_type == 'first-third' %}
                        <div class="col-md-4">
                            <div class="prod-block ml-0">
                                    <div class="item column-1" itemprop="blogPost" itemscope
                                        itemtype="https://schema.org/BlogPosting">
        
        
                                        <!--<h3 style="color: red;">This is the custom Item layout</h3>-->
                                        <div class="delta-product-category">
        
                                            <!--<h3 class="prod-model">Model 11036</h3>-->
                                            <div class="page-header">
                                                <h2 itemprop="name">
                                                                <a href="/products/{{product.id}}" itemprop="url">
                                                    <span class="sup"></span> {{ product.title }}	</a>
                                                        </h2>
                                            </div>
                                            <div class="prod-image"><a
                                                    href="{{ product.product_image | media }}"
                                                    data-uk-lightbox> <img
                                                        src="{{ product.product_image | media }}"
                                                        alt="" /></a>
                                            </div>
                                            <div class="key-features"><b></b>
                                                <ul>
                                                    {% for feature in product.key_features2 %}
                                                    <li>{{ feature.feature }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
        
                                            <div class="prod-app"><b>{{'Applications'|_}}:</b> {{ product.applications | raw }}</div>
                                            <div class="product read-more">
                                                <p class="readmore">
                                                    <a class="btn"
                                                        href="/products/{{product.id}}"
                                                        itemprop="url"
                                                        aria-label="{{ product.title }}">
                                                        <span class="icon-chevron-right" aria-hidden="true"></span>
                                                        {{'Read more...' |_}} </a>
                                                </p>
                                            </div>
        
                                        </div><!-- end delta-product-category -->
                                    </div>
                                    <!-- end item -->
                            </div>
                        </div>
                {% endif %}
            {% endfor %}
            </div>
            <div class="clearfix"></div>
            <!-- End Content -->
        </main>
    </div>
</div>